# TFS
TFS_COLLECTION_URL=https://seu-tfs/tfs/SUA_COLLECTION
TFS_PROJECT=SEU_PROJETO

# NTLM
NTLM_DOMAIN=DOMINIO
NTLM_USERNAME=usuario
NTLM_PASSWORD=senha
NTLM_WORKSTATION=MAQUINA

# Server
PORT=3001
CORS_ORIGIN=http://localhost:5173

# Auth
UST_AUTH_SECRET=troque-por-um-segredo-com-pelo-menos-24-caracteres
UST_AUTH_DEFAULT_PASSWORD=12345678

# Alertas opcionais
DISCORD_WEBHOOK_URL=
ALERT_ADMIN_UNIQUE=DOMINIO\\usuario
ALERT_ADMIN_ROLE=admin
DISCORD_MEETINGS_WEBHOOK_URL=
DISCORD_MEETINGS_WEBHOOK_USERNAME=DOMINIO\\usuario
DISCORD_MEETINGS_WEBHOOK_AVATAR_URL=

# whisper.cpp
WHISPERCPP_EXE=bin/whispercpp/whisper-cli.exe
WHISPERCPP_MODEL=bin/whispercpp/models/ggml-tiny.bin
WHISPERCPP_LANG=pt

# LLM opcional
OPENAI_MODEL=gpt-4o-mini
LLM_PROVIDER=ollama
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=phi3:mini

# GLPI
GLPI_API_BASE=https://seu-glpi/apirest.php
GLPI_APP_TOKEN=app_token_do_glpi

# Token do usuario no GLPI
GLPI_USER_TOKEN=user_token_do_usuario
